@{
    ViewBag.Title = "Menu Default";
}




<h2>Panel de opciones para el control de nómina</h2>


<div class="mx-auto my-5">
    <button class="btn btn-secondary" onclick="window.location='@Url.Action("IrAHistorialNominas")'">Historial de nóminas</button>
</div>